<div class="title">Checkout</div>
<%= form_for :checkouts,  url: checkouts_path do |f| %>
	<p>
  <%= label_tag(:card, "Card number:") %><br/>
  <%= password_field :card , name:'card' %>
</p>

<p>
  <%= label_tag(:id_no, "ID number:") %><br/>
  <%= password_field :id_no , name:'id_no' %>
</p>
	  <%= f.hidden_field :user, :value => session[:current_user_id] %>
	  <%= f.hidden_field :amount, :value => session[:total] %>
    <p>
      <%=f.submit "Submit", name: 'pay' %>
    </p>
<%end%>